.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.best {
}

.records-list-container {
}

.records-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-record {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}

.record-val {
  display: block;
  width: 2rem;
  text-align: left;
}
