* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-heading {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.grid-field-container {
  display: flex;
  justify-content: center;
}

.grid-field {
  position: relative;
  background: rgb(220, 219, 219);
}

.grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(107, 107, 107);
}
